.flex-container {
  border: 1px solid #40a9ff;
  border-radius: 4px;
  height: 300px;
  padding: 5px;
}

.flex-container .item{
  margin-right: 5px;
  width: 120px;
  height: 120px;
  font-size: 30px;
  font-weight: 550;
  color: #fff;
  border: 1px solid transparent;
  line-height: 120px;
  text-align: center;
  cursor: pointer;
}
.flex-container .selected{
  border: 1px solid #000;
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
  0 3px 6px 0 rgba(0, 0, 0, 0.12),
  0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.flex-container-extra{
  width: 30%;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}